@import "tailwindcss";

@theme {
  --color-emerald-primary: #065f46;
  --color-emerald-secondary: #10b981;
  --color-emerald-light: #ecfdf5;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@font-face {
  font-family: 'WazirMatn';
  src: url('/WazirMatn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WazirMatn';
  src: url('/WazirMatn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ټول اپ ته فونټ ورکړه */
html, body, #root {
  font-family: 'WazirMatn', sans-serif;
}